.wrapper {
	display: flex;
	flex-flow: row nowrap;
	max-width: 30rem;
	align-items: center;
	border: 1px solid var(--color);
	border-radius: 0.25rem;
	padding: 0.25rem 1rem;
}

.code {
	flex: 1 1 auto;
	margin-right: 1rem;
	font-size: 1.4rem;
}

@media only screen and (max-width: 700px) {
	.code {
		font-size: 1rem;
	}
}
