.wrapper {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: stretch;
}

.label {
	font-size: 1.2em;
	margin-bottom: 0.25rem;
}
@media only screen and (max-width: 700px) {
	.label {
		font-size: 1em;
	}
}
